#body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.up {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  padding: 20px; 
}

.up h1, h6 {
  color: orange;
   text-shadow: 1px 2px 3px #F00;
}

.indexbody {
  margin: 0px;
  height: 100%;
  padding: 0px;
  background-color: silver;
  background-image: url("../pic/dice.jpg");
  background-size: 100%;
}

#results {
  background-color: rgba(0,0,0,0.5);
  padding: 50px;
  font-size: 20px;
  font-weight: bold;
  display: none;
  color: orange;
  border-radius: 10px;
}

.form-signin-heading {
  color: white;
}
@media screen and (max-width: 480px) {
    #left {display: none;}
    .bam {margin: auto;}

}
.stats {
  background-color: lightgrey;
}
#gameover {
  font-weight: bold;
  font-size: 25px;
  display: none;
}